<header class="animated fadeInDown">
<a class="logo" href="">Logo</a>
<div class="menu-toggle">
</div>
<nav>
    <ul>
        <li><a href="../homepage.html">Trang Chủ</a></li>
        <li><a href="./exam.html">Khoá Thi</a></li>
        <li><a href="#">Thông tin</a></li>
        <li><a class="active" href="../users/login.html">Đăng nhập</a></li>
        <li><a href="../users/register.html">Đăng Kí</a></li>
    </ul>
</nav>
<div class="clearfix">
</div>
</header>