<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thi trắc nghiệm</title>

    <!--Start Css-->
    <%include ../partials/css%>
    <!--Style for user-->
    <link rel="stylesheet" href="/custom/homepage/css/user.css">
    <!--End Css-->

    <!--Start Script-->
    <%include ../partials/scripts%>
    <!--End Script-->

</head>
<body>
    <div class="base">
        <!--Start Header-->
        <%include ../models/_navbar%>
        <!--End Header-->
        <!--Start Login Form-->
        <section class="bg-test" style="padding-top: 30vh;">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                  <!-- Tabs Titles -->

                  <!-- Icon -->
                    <div class="fadeIn first">
                    </div>

                  <!-- Login Form -->
                    <form action="/users/login" method="POST">
                        <input type="text" id="login" class="fadeIn second" name="loginUsername" placeholder="login">
                        <input type="text" id="password" class="fadeIn third" name="loginPassword" placeholder="password">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                    </form>


                  <!-- Remind Passowrd -->
                    <div id="formFooter">
                        <p>© 2019 Copyright PhiDuy </p>
                    </div>

                </div>
              </div>
        </section>
        <!--End Login Form-->
    </div>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('.menu-toggle').click(function () {
            $('.menu-toggle').toggleClass('active');
            $('nav').toggleClass('active');
        })
    });
</script>
</html>