<!DOCTYPE html>
<html lang="en">
<%-include('../../../layouts/homepage/users/head.ejs')%>
<div class="base">
<!--Start Header-->
<%-include('../../../layouts/header.ejs')%>
<!--End Header-->
<!--Start Login Form-->
<section class="bg-test" style="padding-top: 30vh;">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
          </div>

          <!-- Login Form -->
          <form>
            <input type="text" id="fullname" class="fadeIn third" name="fullname" placeholder="fullname">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
            <input type="text" id="password" class="fadeIn fourth" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Register">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <p>© 2019 Copyright PhiDuy </p>
          </div>
        </div>
      </div>
</section>
<!--End Login Form-->
</div>
</html>
