<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thi trắc nghiệm</title>

    <!--Start Css-->
    <%include ../partials/css%>
    <!--Style for user-->
    <link rel="stylesheet" href="/custom/homepage/css/user.css">
    <!--End Css-->

    <!--Start Script-->
    <%include ../partials/scripts%>
    <!--End Script-->

</head>
<body>

  <div class="base">
    <!--Start Header-->
    <%include ../models/_navbar%>
    <!--End Header-->
    <!--Start Login Form-->

    <section class="bg-test" style="padding-top: 30vh;">
        <div class="wrapper fadeInDown">

            <div id="formContent">
              <!-- Tabs Titles -->

              <!-- Icon -->
              <div class="fadeIn first">

              </div>
              <!-- Login Form -->
              <%-include('./models/_error.ejs')%>
              <form action="/users/register" method = "POST" role="form">
                <input type="text" id="fullname" class="fadeIn third" name="registerFullname" placeholder="fullname"
                value="<%if(typeof inputData ==='object'){%><%=inputData.fullname%><%}%>">
                <input type="text" id="username" class="fadeIn second" name="registerUsername" placeholder="username"
                value="<%if(typeof inputData ==='object'){%><%=inputData.username%><%}%>">
                <input type="password" id="password" class="fadeIn fourth" name="registerPassword" placeholder="password"
                value="<%if(typeof inputData ==='object'){%><%=inputData.password%><%}%>">
                <input type="submit" class="fadeIn fourth" value="Register">
              </form>
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <p>© 2019 Copyright PhiDuy </p>
              </div>
            </div>
          </div>
    </section>

    <!--End Login Form-->
    </div>
</body>
</html>
