
   <header class="animated fadeInDown">
   <a class="logo" href="">Logo</a>
   <div class="menu-toggle">
   </div>
   <nav>
       <ul>
           <li><a class="active" href="/">Trang Chủ</a></li>
           <li><a href="/users/exam">Khoá Thi</a></li>
           <li><a href="/users/information">Thông tin</a></li>
           <li><a href="/users/login">Đăng nhập</a></li>
           <li><a href="/users/register">Đăng Kí</a></li>
       </ul>
   </nav>
   <div class="clearfix">
   </div>
</header>